<div class="col-md-4">
  <p class="lead">Add a post:</p>
  <form>
    <div class="form-group">
      {{input value=author type="text" class="form-control" placeholder="Name"}}
    </div>
    <br>
    <div class="form-group">
      {{textarea value=body type="text" class="form-control" placeholder="Post"}}
    </div>
    <button class="btn btn-primary">Post</button>
  </form>
</div>
