<div class="col-md-3">
  {{#each post in model}}
    <div class="question lead">
      <div>
        {{post-date post.date}}
      </div>
      <div>
        <strong>{{post.author}}</strong> asked: {{post.question}}
      </div>
    </div>
  {{/each}}
</div>

<div class="col-md-6">
  {{partial 'posts/new-post'}}
</div>
